.gmap{
    padding-top: 3%;
    display: grid;
    place-items: center;
    padding-bottom: 5%;
}
.gmap h1{
    padding-bottom: 3%;
    color: rgb(36, 36, 46);
    font-size: 40px;
}
.gmap .map{
    width: 700px;
    height: 500px;
    border-style: none;
}
@media (max-width: 800px) {
    .gmap .map{
        width: 500px;
        height: 400px;
    } 
}
@media (max-width: 580px) {
    .gmap{
        padding-top: 10%;
        display: grid;
        place-items: center;
    }
    .gmap h1{
        padding-bottom: 10%;
        color: rgb(36, 36, 46);
        font-size: 2rem;
    }
    .gmap .map{
        width: 360px;
        height: 300px;
    } 
}